# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
venv/
ENV/
env/
*.sqlite3
instance/
.pytest_cache/

# Flask
*.log
*.db
*.sqlite

# Environment variables
.env
.env.*

# VS Code
.vscode/

# macOS
.DS_Store

# Linux
*.swp

# Logs
logs/
*.log

# Coverage reports
htmlcov/
.coverage
.cache
